* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

.d_none {
  display: none;
}

.flex, .flex--cc, .flex--align-center, .flex--col, .flex--sp-between {
  display: flex;
}

.flex--cc {
  align-items: center;
  justify-content: center;
}

.flex--align-center {
  align-items: center;
}

.flex--col {
  flex-direction: column;
}

.flex--sp-between {
  align-items: center;
  justify-content: space-between;
}

.no-shrink {
  flex-shrink: 0;
}

.pointer {
  cursor: pointer;
}

h3 {
  font-size: 16px;
  font-weight: 600;
}

h6 {
  color: #b1b1b1;
  font-size: 10px;
  font-weight: 500;
}

.app__left .img,
.app__right__header .img {
  height: 75%;
}

.app__left .img img,
.app__right__header .img img {
  height: 100%;
  border-radius: 50%;
}

.header-left__icons > * {
  position: relative;
  top: 3px;
  padding: 0 8px;
  cursor: pointer;
  color: #b1b1b1;
  font-size: 18px;
}

.bell__icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
}

.bell__icon > * {
  padding: 10px;
  color: #8edafc;
}

.bell__text {
  padding-left: 10px;
}

.bell__text h4 {
  margin-bottom: -8px;
  font-size: 12px;
  font-weight: 600;
}

.bell__text a {
  color: #7c7c7c;
  font-size: 10px;
}

.search {
  overflow: hidden;
  width: 100%;
  border-radius: 2px;
  filter: drop-shadow(1px 1px 2px #e2e2e2);
}

.search__icon {
  padding: 2px 20px;
  color: #b1b1b1;
  background-color: #fff;
  font-size: 14px;
}

.search__input {
  width: 100%;
  border: none;
}

.search__input:focus {
  outline: none;
}

.chat-prew__li {
  height: 74px;
  padding: 0 25px 0 15px;
  list-style: none;
  border-bottom: 1px solid #edf2f2;
}

.chat-prew__li.active {
  background-color: #e9ebeb;
}

.chat-prew__li__name {
  padding-left: 20px;
}

.chat-prew__li__time {
  margin-left: auto;
  padding-bottom: 18px;
  color: #b1b1b1;
  font-size: 10px;
  font-weight: 500;
}

.header-right__name {
  padding-left: 15px;
}

.header-right__icons {
  margin-left: auto;
  color: #b1b1b1;
}

.header-right__icons > * {
  padding: 0 8px;
  cursor: pointer;
}

.chat-input__input {
  width: 100%;
  padding: 10px 15px;
  border: none;
  border-radius: 7px;
  font-size: 16px;
}

.chat-input__input + .chat-input__send {
  display: none;
}

.chat-input__input:focus {
  outline: none;
}

.chat-input__input:focus + .chat-input__send {
  display: block;
}

.chat-input__input:focus ~ .chat-input__microphone {
  display: none;
}

.chat-input__send {
  width: 70px;
}

.chat-input__microphone {
  width: 70px;
}

.background {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.background__top {
  width: 100%;
  height: 16%;
  background-color: #009688;
}

.background__bottom {
  width: 100%;
  height: 84%;
  background-color: #d6dbd7;
}

.app {
  width: 80%;
  height: 90vh;
  margin: 5vh 10%;
  background-color: #fff;
}

.app__left {
  width: 34%;
  height: 100%;
}

.app__left > * {
  padding: 0 8px;
}

.app__left__header {
  height: 60px;
  padding-right: 15px;
  background-color: #eaeaea;
}

.app__left__bell {
  height: 60px;
  padding: 0 15px;
  background-color: #8edafc;
}

.app__left__search {
  height: 40px;
  background-color: #f9f9f9;
}

.app__left__chat-prew {
  overflow-x: scroll;
  height: 100%;
  padding: 0;
  background-color: #fff;
}

.app__right {
  width: 66%;
  height: 100%;
  border-left: 1px solid #d6d6d6;
}

.app__right__header {
  height: 60px;
  padding: 0 15px;
  background-color: #eaeaea;
}

.app__right__chat {
  overflow-x: scroll;
  height: 100%;
  background-image: url(../img/mine.jpg);
  background-position: center;
}

.app__right__chat-input {
  height: 60px;
  background-color: #eaeaea;
}

.app__right__chat-input i {
  padding: 0 25px;
  cursor: pointer;
  color: #b1b1b1;
}

/*# sourceMappingURL=style.css.map */