// scss file

// VAR

$app-width: 80%;
$app-heigth: 90vh;
$headers-color: #eaeaea;
$main-block-heigth: 60px;
$bell-color: #8edafc;
$search-heigth: 40px;
$light-grey: #f9f9f9;
$dark-grey: #b1b1b1;
$li-block-heigth: 74px;

// GENERAL

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Nunito', sans-serif;
  }

// MIX

  .d_none {
    display: none;
  }

  .flex {
    display: flex;
  }
  .flex--cc {
    align-items: center;
    justify-content: center;

    @extend .flex;
  }
  .flex--align-center {
    align-items: center;

    @extend .flex;
  }
  .flex--col {
    flex-direction: column;

    @extend .flex;
  }
  .flex--sp-between {
    align-items: center;
    justify-content: space-between;

    @extend .flex;
  }

  .no-shrink {
    flex-shrink: 0;
  }

  .pointer {
    cursor: pointer;
  }


// TYPO

  h3 {
    font-size: 16px;
    font-weight: 600;
  }
  h6 {
    color: $dark-grey;

    font-size: 10px;
    font-weight: 500;
  }


// ELEMENTS
  .app__left .img,
  .app__right__header .img {
    height: 75%;
    img {
      height: 100%;

      border-radius: 50%;
    }
  }

  .header-left__icons > * {
    position: relative;
    top: 3px;

    padding: 0 8px;

    cursor: pointer;

    color: $dark-grey;

    font-size: 18px;
  }

  .bell {
    &__icon {
      width: 40px;
      height: 40px;

      border-radius: 50%;
      background-color: #fff;
      > * {
        padding: 10px;

        color: $bell-color;
      }
    }
    &__text {
      padding-left: 10px;
      h4 {
        margin-bottom: -8px;

        font-size: 12px;
        font-weight: 600;
      }
      a {
        color: #7c7c7c;

        font-size: 10px;
      }
    }
  }

  .search {
    overflow: hidden;

    width: 100%;

    border-radius: 2px;

    filter: drop-shadow(1px 1px 2px #e2e2e2);
    &__icon {
      padding: 2px 20px;

      color: $dark-grey;
      background-color: #fff;

      font-size: 14px;
    }
    &__input {
      width: 100%;

      border: none;
      &:focus {
        outline: none;
      }
    }
  }

  .chat-prew {
    &__li {
      height: $li-block-heigth;
      padding: 0 25px 0 15px;

      list-style: none;

      border-bottom: 1px solid #edf2f2;
      &.active {
        background-color: #e9ebeb;
      }
      &__name {
        padding-left: 20px;
      }
      &__time {
        margin-left: auto;
        padding-bottom: 18px;

        color: $dark-grey;

        font-size: 10px;
        font-weight: 500;
      }
    }
  }

  .header-right {
    &__name {
      padding-left: 15px;
    }
    &__icons {
      margin-left: auto;

      color: $dark-grey;
      > * {
        padding: 0 8px;

        cursor: pointer;
      }
    }
  }

  // _______

  .chat-input {
    &__input {
      width: 100%;
      padding: 10px 15px;

      border: none;
      border-radius: 7px;

      font-size: 16px;

      + .chat-input__send {
        display: none;
      }
      &:focus {
        outline: none;
        + .chat-input__send {
          display: block;
        }
        ~ .chat-input__microphone {
          display: none;
        }
      }
    }
    &__send {
      width: 70px;
    }
    &__microphone {
      width: 70px;
    }
  }

// MAIN SCSS

  // background
  .background {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;
    &__top {
      width: 100%;
      height: 16%;

      background-color: #009688;
    }
    &__bottom {
      width: 100%;
      height: 84%;

      background-color: #d6dbd7;
    }
  }

  // app
  .app {
    width: $app-width;
    height: $app-heigth;
    margin: ((100vh - $app-heigth) / 2) ((100% - $app-width) / 2);

    background-color: #fff;
    &__left {
      width: 34%;
      height: 100%;
      > * {
        padding: 0 8px;
      }
      &__header {
        height: $main-block-heigth;
        padding-right: 15px;

        background-color: $headers-color;
      }
      &__bell {
        height: $main-block-heigth;
        padding: 0 15px;

        background-color: $bell-color;
      }
      &__search {
        height: $search-heigth;

        background-color: $light-grey;
      }
      &__chat-prew {
        overflow-x: scroll;

        height: 100%;
        padding: 0;

        background-color: #fff;
      }
    }
    &__right {
      width: 66%;
      height: 100%;

      border-left: 1px solid #d6d6d6;
      &__header {
        height: $main-block-heigth;
        padding: 0 15px;

        background-color: $headers-color;
      }
      &__chat {
        overflow-x: scroll;

        height: 100%;

        background-image: url(../img/mine.jpg);
        background-position: center;
      }
      &__chat-input {
        height: $main-block-heigth;

        background-color: $headers-color;
        i {
          padding: 0 25px;

          cursor: pointer;

          color: $dark-grey;
        }
      }
    }
  }
